* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato"; }

body {
  display: flex;
  justify-content: center;
  background-color: #8038aa;
  padding-top: 5%;
  min-height: 100vh; }

.login {
  text-align: center;
  display: flex;
  flex-flow: column wrap; }
  .login span {
    margin-bottom: 20px; }
    .login span a {
      color: white;
      text-decoration: none; }
  .login h2 {
    margin-bottom: 20px; }
    .login h2 span {
      color: green; }
  .login form {
    display: flex;
    flex-flow: column wrap; }
    .login form input {
      border: 0;
        border-radius: 15px;
      padding: 5px 15px;
      outline: 0;
      margin-bottom: 30px; }
    .login form input[type="submit"] {
      cursor: pointer;
      border: 0;
        border-radius: 15px;
      width: 50%;
      margin: 0 auto 0;
      background-color: pink;
      font-weight: 700;
      font-size: 1.3em; }
    .login form input[type="submit"]:hover {
      opacity: 0.7;
      transition: 1s; }

ul {
  list-style-type: none; }

li {
  color: #fff;
  font-weight: 700;
  font-size: 1.12em; }

.box {
  padding: 20px 30px;
  width: 30%;
  min-width: 400px;
  height: 100%;
  border: 5px solid #999;
    border-radius: 15px;
  background-color: #444;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); }

.container-login {
  display: none; }

.boxes {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .boxes form {
    display: flex;
    flex-direction: column; }
    .boxes form input {
      width: 100%;
      margin-bottom: 20px; }
    .boxes form input[type="submit"] {
      padding: 10px 0;
      border: 0;
        border-radius: 10px;
      width: 50%;
      margin: 0 auto 20px;
      cursor: pointer;
      font-weight: 700; }
    .boxes form input[type="submit"]:hover {
      background-color: #85a33d;
      transition: 1s; }
    .boxes form textarea {
      margin: 20px 0;
      padding: 8px;
      width: 100%;
      height: 100px;
      resize: none;
      font-family: "lato";
      outline: 0;
      border-radius: 10px; }
    .boxes form button {
      width: 50%;
      margin: 0 auto 30px;
      padding: 10px 0;
      border: 0;
        border-radius: 10px;
      font-weight: 700;
      cursor: pointer; }
    .boxes form button:hover {
      background-color: tomato;
      transition: 1s; }
  .boxes .tarefas-usuario h3 {
    margin-bottom: 5%; }
  .boxes .tarefas-usuario #tarefas li a {
    color: green; }
  .boxes .tarefas-usuario #tarefas li a:hover {
    color: red;
    transition: 1s; }

.none {
  display: none; }

.box-create {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center; }
  .box-create span {
    color: green; }
  .box-create form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
    .box-create form input {
      padding: 10px;
      margin-bottom: 20px;
      border: 0;
        border-radius: 15px;
      outline: 0; }
    .box-create form input[type="submit"] {
      font-weight: 700;
      font-size: 1.3em;
      cursor: pointer; }
    .box-create form input[type="submit"]:hover {
      background-color: green;
      transition: 2s; }
    .box-create form a {
      color: #fff;
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
